python-module/build
unit-tests/Build
xcuserdata
.DS_Store

*.o
*.dylib

*.xcworkspace

plugins/python-module/build
plugins/python-module/tests/__pycache__
build/
plugins/max-external/btrack*/build
plugins/max-external/btrack*/libsamplerate-install/
plugins/max-external/btrack*/libsamplerate/
plugins/max-external/btrack*/output/
plugins/max-external/btrack*/max-sdk-base/
externals/
